<div id="frame">
    <div>List component</div>
    <div>
        <input type="text" [(ngModel)]="inputText">
        <button (click)="inputToArray()">Dodaj</button>
    </div>
    <ul>
        <li *ngFor="let el of elements; index as i">
            {{ el }}
            <a href="#" (click)="remove(i)">Usuń</a>
        </li>
    </ul>
</div>
